
%trbl0{top: 0;right: 0;bottom: 0;left: 0;}
%pa_trbl0{position:absolute;top: 0;right: 0;bottom: 0;left: 0;}
%pf_trbl0{position:fixed;top: 0;right: 0;bottom: 0;left: 0;}
%after_cover{position:relative;&:after{z-index:1000000000;content:"";@extend %pa_trbl0;}}

%devise_cfa{
    &:after{
        content:"Fcfa";
    }
}

%btn_close{
    z-index: 1000000000000000000000;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: black;
    color:orangered;
    font-weight: 900;
    border-radius: 0 0 0 5px;
    cursor:pointer;
    transition: all .3s;
    &:before{content:"X";}
    &:hover{color:white;}
    &.off{
        background:silver;
        &:hover{background:black;}
    }
}

%modal{
    z-index: 1000000000000000000000;
    position: fixed;
    top: 0em;right: 0em;bottom: 0em;left: 0em;
    padding:1.5em;
    background: rgba(10,10,10,.5);
    &:not(.active){display: none;}
    &.active{
        display: flex;
        flex-direction: column;
    }
    >span.close{
        @extend %btn_close;
        top: 1.5em;
        right: 1.5em;
    }
    >div{background:whitesmoke;}
    >.modal___header{
        border-radius: 10px 10px 0 0;overflow: hidden;height:10%;
    }
    >.modal___footer{
        border-radius: 0 0 10px 10px;overflow: hidden;height:10%;
    }
    >.modal___main{
        height: 80%;
    }
        &.active{
    }
}
%txt_rogner{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/**/
%pa{position: absolute;}
%pr{position: relative;}
%pf{position: fixed;}

%go_tl{top:0;left:0;}
%go_tr{top:0;right:0;}
%go_bl{bottom:0;left:0;}
%go_br{bottom:0;right:0;}
%go_tbr{top:0;bottom:0;right:0;}
%go_tbl{top:0;bottom:0;left:0;}
%go_lrt{top:0;left:0;right:0;}
%go_lrb{bottom:0;left:0;right:0;}

%goa_tl{@extend %pa;top:0;left:0;}
%goa_tr{@extend %pa;top:0;right:0;}
%goa_bl{@extend %pa;bottom:0;left:0;}
%goa_br{@extend %pa;bottom:0;right:0;}
%goa_tbr{@extend %pa;top:0;bottom:0;right:0;}
%goa_tbl{@extend %pa;top:0;bottom:0;left:0;}
%goa_lrt{@extend %pa;top:0;left:0;right:0;}
%goa_lrb{@extend %pa;bottom:0;left:0;right:0;}


%df{display:flex;}
%dfc{@extend %df;justify-content: center;align-items: center;}
%dfch{@extend %df;justify-content: center;}
%dfcv{@extend %df;align-items: center;}














/*

*/
%menu_elements{
    height: 75px;
    display: block;
    // text-indent: 0.5em;
    box-shadow: 0 0 10px 1px black;
    border: solid;
    padding: 20px 0;
    // margin-right: 20px;
    position: relative;
    text-decoration: none;
    color: goldenrod;
    text-shadow: 0 0 1px black, -1px 2px 5px black;
    font-size: 1.5em;
    font-weight: 900;
    border-top-left-radius: 10px 100px;
    border-top-right-radius: 100px 10px;
    -webkit-transition: all .3s;
    background: #ff5900;
    background: linear-gradient(135deg, rgba(255,89,0,0.3) 0%,#cc0000 46%,#cc0a00 62%,rgba(255,89,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,89,0,0.3)', endColorstr='rgba(255,89,0,0.3)',GradientType=1 );
}
